 <div class="formulario">
        <h1>Samba</h1>
        <input type="file" id="carpeta" name="fileList" webkitdirectory multiple/>
        </div>
</div>

<style>
    .formulario{
        margin: auto;
        margin-top: 10vh;
        width: 40%;
        height: 70vh;
        box-shadow: 2px 2px 2px rgb(188, 188, 188), 3px 3px 2px grey,
        4px 4px 4px black;
        border: 2px solid grey;
    }
    .formulario h1{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 1px grey, 2px 2px 2px black;
        font-size: 2.5em;
        letter-spacing: 2px;
        background-color: rgb(16, 82, 130);
    }
</style>
